/*-------------------------------TOP------------------------------*/
.main-onepage {
	display: flex;
	flex-direction: column;
	
	background-color: aqua;
	width: 1440px;

}

.section-top {
	display: flex;
	flex-direction: column;

	background: url(../img/your_verse_hero.jpg) 50% 100% no-repeat;
	background-size: 1440px 1315px;
}

/*-------------------------------NavBar------------------------------*/

.nav-bar {
	display: flex;
}

.global-nav {
	display: flex;
	flex-direction: row;
}